{% extends 'front.html.twig' %}

{% block title %}M.O.F.T{% endblock %}

{% block slider %}
<!-- Home Section -->
<!-- Fullwidth Slider -->
<div class="home-section fullwidth-slider bg-dark" id="home">
    <!-- Slide Item -->
    <section class="home-section bg-scroll" data-background="/front/images/slider/landing.jpg">
        <div class="js-height-full container">
            
        </div>
    </section>
    <!-- End Slide Item -->
    
    <!-- Slide Item -->
    <section class="home-section bg-scroll" data-background="/front/images/slider/muzeu.jpg">
        <div class="js-height-full container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    <img src="/front/images/icons/muzeu.svg" width="25%" />
                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->
    
    <!-- Slide Item -->
    <section class="home-section bg-scroll" data-background="/front/images/slider/opera.jpg">
        <div class="js-height-full container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    <img src="/front/images/icons/opera.svg" width="25%" />
                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->

    <!-- Slide Item -->
    <section class="home-section bg-scroll" data-background="/front/images/slider/film.jpg">
        <div class="js-height-full container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    <img src="/front/images/icons/film.svg" width="25%" />
                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->

    <!-- Slide Item -->
    <section class="home-section bg-scroll" data-background="/front/images/slider/teatru.jpg">
        <div class="js-height-full container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    <img src="/front/images/icons/teatru.svg" width="25%" />
                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->

</div>
<!-- End Fullwidth Slider -->
{% endblock %}

{% block body %}
<!-- About Section -->
<section class="page-section">
    <div class="container relative">
        
        <div class="row">
            
            <div class="col-md-5 col-lg-4 mb-sm-40 mt-10">
                
                <!-- About Project -->
                <div class="text">
                    
                    <h3 class="font-alt mb-30 mb-xxs-10">Despre eveniment</h3>
                    <p>
                        M.O.F.T. (Muzee. Operă. Film. Teatru.) este evenimentul marcă LSAC prin care studenții 
                        bucureșteni primesc, pe parcursul săptămânii 22-28 octombrie, bilete gratuite la instituții 
                        cultural-artistice din capitală.
                    </p>
                    <p>
                        Voluntarii LSAC Bucureşti (Ligii Studenților din Facultatea de Automatică și Calculatoare, 
                        Universitatea Politehnică București) încearcă să le ofere tuturor studenților o modalitate 
                        de a ieși din rutina zilnică prin participarea la o piesă de teatru, prin vizitarea unui muzeu, 
                        printr-o mică distracție cu prietenii la escape, prin vizionarea unui film și prin multe alte 
                        activități, din sfera tuturor artelor.       
                    </p>
                    
                    <div class="mt-40">
                        <a href="/tickets" class="btn btn-mod btn-border btn-round btn-medium" target="_blank">Rezervă bilete</a>
                    </div>
                    
                </div>
                <!-- End About Project -->
                
            </div>
            
            <div class="col-md-7 col-lg-offset-1">
                
                <img src="/front/images/featured/about.png" alt="" />
                
            </div>
            
            </div>
        
    </div>
</section>
<!-- End About Section -->

<!-- Featured Photos Section -->
<section class="page-section pb-0 pt-0">
    <div class="container relative">
        
        <!-- Photo Grid -->
        <div class="row multi-columns-row mb-30 mb-xs-10">
            
            <!-- Photo Item -->
            <div class="col-md-3 col-lg-3 mb-md-10">
                
                <div class="post-prev-img">
                    <a href="/front/images/featured/museum.jpg" class="lightbox-gallery-2 mfp-image"><img src="/front/images/featured/museum.jpg" alt="" /></a>
                </div>

            </div>
            <!-- End Photo Item -->
            
            <!-- Photo Item -->
            <div class="col-md-3 col-lg-3 mb-md-10">
                
                <div class="post-prev-img">
                    <a href="/front/images/featured/opera.jpg" class="lightbox-gallery-2 mfp-image"><img src="/front/images/featured/opera.jpg" alt="" /></a>
                </div>

            </div>
            <!-- End Photo Item -->
            
            <!-- Photo Item -->
            <div class="col-md-3 col-lg-3 mb-md-10">
                
                <div class="post-prev-img">
                    <a href="/front/images/featured/film.jpg" class="lightbox-gallery-2 mfp-image"><img src="/front/images/featured/film.jpg" alt="" /></a>
                </div>

            </div>
            <!-- End Photo Item -->
            
            <!-- Photo Item -->
            <div class="col-md-3 col-lg-3 mb-md-10">
                
                <div class="post-prev-img">
                    <a href="/front/images/featured/theatre.jpg" class="lightbox-gallery-2 mfp-image"><img src="/front/images/featured/theatre.jpg" alt="" /></a>
                </div>

            </div>
            <!-- End Photo Item -->
            
        </div>
        <!-- End Photo Grid -->
        
    </div>
</section>
<!-- End Featured Photos Section -->

<!-- Sponsors Section -->
<section class="page-section pt-0">
    <div class="container relative">
        
        <!-- Heading -->
        <div class="row mb-xs-30">
                <div class="col mb-40 align-center">
                    <h1>Sponsori</h1>
                </div>
        </div>
        <!-- End Heading -->

        {% if not sponsors %}
            <hr class="mb-30"/>
            <h4 class="font-alt mb-10 align-center">Nu există niciun sponsor încă</h4>
            <hr class="mb-30"/>
        {% endif %}
        
        <!-- Logo Grid -->
        <div class="row multi-columns-row alt-features-grid">
            {% for sponsor in sponsors %}
                <!-- Logo Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-left">
                        <div class="alt-features-icon">
                            <img src="/front/images/sponsors/{{ sponsor.name|lower|replace({' ': '-'}) }}" alt="" />
                        </div>
                        <h3 class="alt-features-title font-alt">{{ sponsor.name }}</h3>
                        <!--<div class="alt-features-descr align-left">
                            Lorem ipsum dolor sit amet, c-r adipiscing elit. 
                            In maximus ligula semper metus pellentesque mattis. 
                            Maecenas  volutpat, diam enim.
                        </div>-->
                    </div>
                </div>
                <!-- End Logo Item -->
            {% endfor %}
        </div>
        <!-- End Logo Grid -->
        
    </div>
</section>
<!-- End Sponsors Section -->
{% endblock %}
