<h3>Biletul tău a fost rezervat!</h3>

<p>Biletul tău la {{ ticket.name }} din data de {{ ticket.time|date('d.m.Y H:m') }} a fost rezervat cu succes!</p>
<p>Codul de confirmare este: {{ confirmation }}</p>
<p>Cu drag, echipa MOFT!</p>

<img src="{{ absolute_url(asset('/front/images/logo/moft.svg')) }}">